Avador/Assets/Utils/EditorUtils/FocusedBrowser/FocusedBrowserData.asset
Avador/Assets/Utils/EditorUtils/FocusedBrowser/FocusedBrowserData.asset.meta
Avador/Assets/_Systems/OpenAPI/Secret.cs
Avador/Assets/_Systems/OpenAPI/Secret.cs.meta
Avador/.idea/*
Avador/.vscode/*