Avador/Assets/Utils/EditorUtils/FocusedBrowser/FocusedBrowserData.asset
Avador/Assets/Utils/EditorUtils/FocusedBrowser/FocusedBrowserData.asset.meta
Avador/.idea/*
Avador/.vscode/*
Avador/UMotionData/Temp/EditorUndoStack.dat
Avador/UMotionData/Temp/EditorUndoTable.dat
Avador/UMotionData/AutoBackups/
